.places h1{
    margin-left: 20px;
    font-size: 30px;
    width: 100%;   
}

.places  h2 {
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20;
    margin: 20;
    border: 1px  #FF5A5F solid;
    border-radius: 4px;
    text-align: center;
}

.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}